<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hm.cs.ig.passbutler">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".entry.LogoActivity"
            android:label="@string/logo_activity_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entry.CreatePersistenceActivity"
            android:label="@string/create_persistence_activity_label">

        </activity>
        <activity
            android:name=".entry.UnlockActivity"
            android:label="@string/unlock_activity_label">

        </activity>
        <activity
            android:name=".account_list.AccountListActivity"
            android:label="@string/account_list_activity_label"
            android:parentActivityName=".entry.UnlockActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".entry.UnlockActivity" />
        </activity>
        <activity
            android:name=".account_detail.AccountDetailActivity"
            android:label="@string/account_detail_activity_label"
            android:parentActivityName=".account_list.AccountListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".account_list.AccountListActivity" />
        </activity>
        <activity
            android:name=".password.PasswordGeneratorActivity"
            android:label="@string/password_generator_activity_label"
            android:parentActivityName=".account_list.AccountListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".account_list.AccountListActivity" />
        </activity>
        <activity
            android:name=".sync.SyncActivity"
            android:label="@string/sync_activity_label"
            android:parentActivityName=".account_list.AccountListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".account_list.AccountListActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_activity_label"
            android:parentActivityName=".account_list.AccountListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".account_list.AccountListActivity" />
        </activity>

        <provider
            android:name=".data.SyncContentProvider"
            android:authorities="edu.hm.cs.ig.passbutler"
            android:exported="false" />

        <service
            android:name=".sync.BluetoothSyncSenderJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:name=".sync.BluetoothSyncReceiverIntentService"
            android:exported="false">
        </service>

        <service
            android:name=".sync.SyncFileMergerIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>