<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hm.cs.ig.passbutler">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogoActivity"
            android:label="@string/logo_activity_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatePersistenceActivity"
            android:label="@string/create_persistence_activity_label">
        </activity>
        <activity
            android:name=".UnlockActivity"
            android:label="@string/unlock_activity_label">
        </activity>
        <activity
            android:name=".AccountListActivity"
            android:label="@string/account_list_activity_label"
            android:parentActivityName=".UnlockActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UnlockActivity"/>
        </activity>
        <activity
            android:name=".AccountDetailActivity"
            android:label="@string/account_detail_activity_label"
            android:parentActivityName=".AccountListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccountListActivity"/>
        </activity>
        <activity
            android:name=".PasswordGeneratorActivity"
            android:label="@string/password_generator_activity_label"
            android:parentActivityName=".AccountListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccountListActivity"/>
        </activity>
        <activity
            android:name=".SyncActivity"
            android:label="@string/sync_activity_label"
            android:parentActivityName=".AccountListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccountListActivity"/>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity_label"
            android:parentActivityName=".AccountListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccountListActivity"/>
        </activity>
    </application>
</manifest>